@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #fff;
}

.section-nft {
  background-color: #0d192b;
}

.container {
  max-width: 120rem;
  margin: 2rem auto;
  padding: 9.6rem 2rem;
}

.nft-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #14253d;
  max-width: 33.5rem;
  border-radius: 17px;
  padding: 2rem;
  margin: auto;
}

.nft-imgbox {
  height: 29.5rem;
  background-color: rgba(0, 255, 247, 0.5);
  border-radius: 15px;
  overflow: hidden;
  background-image: url("images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
}

.nft-img {
  width: 100%;
}

.nft-img:hover {
  opacity: 30%;
}

.nft-content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.heading-two {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.heading-two:hover {
  color: #00fff7;
}

.nft-text {
  color: #8bacda;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

.nft-details {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nft-detail {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.nft-amount {
  color: #00fff7;
  font-weight: 500;
  padding: 0 0.5rem;
}

.nft-timeleft {
  color: #8bacda;
  font-weight: 500;
  padding: 0 0.5rem;
}

.nft-creator {
  display: block;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.creator {
  display: flex;
  align-items: center;
  padding: 2rem 0 0;
}

.creator-avatar {
  height: 4.8rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.creator-tag {
  color: #8bacda;
  font-size: 1.8rem;
  margin-left: 2rem;
}

.tag:link,
.tag:visited {
  text-decoration: none;
  color: #fff;
}

.tag:hover,
.tag:active {
  color: #00fff7;
}
